.results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 15px 20px;
    font-size: 22px;
    color: violet;
    font-weight: bold;
}

h2 {
    font-family: sans-serif;
}

.container {
    padding: 20px 40px;
}